<article>
	<div class="container-fluid">
		<div class="row">
			<div class=" col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
				<div class="form-box thumbnail">
					<h3 class="text-center">New Listing</h3>
					<%= render 'form' %>
					<div class="text-center">
						<%= link_to 'Back', listings_path, class: 'btn btn-link' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
