<article>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="content-box thumbnail">
					<h3 class="text-center">New Order</h3>
					<br />
					<%= render 'form' %>
					<div class="clearfix"></div>
					<div class="text-center">
						<%= link_to 'Back', @listing, class: 'btn btn-link' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>