
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #ffffff;
	color: #333333;
	font-family: Arial, Hevetica, sans-serif;

}

article {
	background-color: #efefeb;
	padding: 40px 0;
}

footer {
	padding: 20px 0 14px;
	width: 100%;
	border-top: 1px solid #e2e2e2;
}

label {
	font-weight: normal;
}

.navbar {
	margin-bottom: 10px;
}

.navbar-default {
	background-color: #ffffff;
	border: 0;
	padding: 12px 0 0;
	.navbar-brand {
		font-family: guardian-egyptt, serif;
		font-size: 35px;
		font-weight: 400;
		color: #f45800;
	}
	.navbar-nav > li > a {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #019285;
	}
}

.jumbotron {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	padding-bottom: 300px;
	background: url('https://www.dropbox.com/s/ahmigaozg0b8rbh/flea_market_5.jpg?raw=1') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h1, h2 {
		font-family: guardian-egyptt, georgia, serif; 
		color: white;
	}
}

.col-sm-3:nth-child(4n+1) {
	clear: left;
}

.col-sm-7 {
	h3 { font-size: 42px; }
	h5 { font-size: 28px; }
	p { font-size: 16px; }
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

.form-box, content-box {
	background-color: white;
	margin-top: 30px;
}

.form-box {
	padding: 40px;
}

.content-box {
	padding: 40px 30px 20px;
}

#square {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.caption {
	height: 130px;
}


// Sold out ribbon

.wrapper {
  position: relative;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}