@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #ffffff;
	color: #333333;
	font-family: Arial, Hevetica, sans-serif;

}

article {
	background-color: #efefeb;
	padding: 40px 0;
}

footer {
	padding: 20px 0 14px;
	width: 100%;
	border-top: 1px solid #e2e2e2;
}

label {
	font-weight: normal;
}

.navbar {
	margin-bottom: 10px;
}

.navbar-default {
	background-color: #ffffff;
	border: 0;
	padding: 12px 0 0;
	.navbar-brand {
		font-family: guardian-egyptt, serif;
		font-size: 35px;
		font-weight: 400;
		color: #f45800;
	}
	.navbar-nav > li > a {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #019285;
	}
}

.jumbotron {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	padding-bottom: 300px;
	background: url('https://www.dropbox.com/s/ahmigaozg0b8rbh/flea_market_5.jpg?raw=1') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	h1, h2 {
		font-family: guardian-egyptt, georgia, serif; 
		color: white;
	}
}

.col-sm-3:nth-child(4n+1) {
	clear: left;
}

.col-sm-7 {
	h3 { font-size: 42px; }
	h5 { font-size: 28px; }
	p { font-size: 16px; }
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}



.form-box, content-box {
	background-color: white;
	margin-top: 30px;
}

.form-box {
	padding: 40px;
}

.content-box {
	padding: 40px 30px 20px;
}


